* {
  box-sizing: border-box;
}

body {
  background-color: rgb(116, 1, 91);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: rgb(255, 175, 255);
  margin: 2px;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
