@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
.global {
  width: 1440px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}
.logo,
.text-nav,
.donate,
.email,
.button-send,
.logo2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.survival span,
.text-survival p,
.latest-articles,
.p-latest-articles,
.imgs h4,
.imgs h5,
.get-notified-h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}
.rectangle-header {
  position: absolute;
  width: 1440px;
  height: 780px;
  left: 0px;
  top: -1px;
  background: url(assets/fox.jpg);
  filter: drop-shadow(-150px 0px 150px #ffffff);
}
.frame-svg {
  position: absolute;
  width: 70px;
  height: 60px;
  left: 120px;
  top: 19px;
}
.logo {
  position: absolute;
  width: 155px;
  height: 60px;
  left: 205px;
  top: 19px;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}
.header-nav {
  position: absolute;
  width: 550px;
  height: 60px;
  left: 840px;
  top: 19px;
}
.header-nav ul li {
  list-style-type: none;
  margin-right: 60px;
}
.text-nav {
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
  text-decoration: none;
}
.vector-search {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 20px;
  background: url(assets/Vector.svg) no-repeat;
}
.header-nav ul {
  display: flex;
}
.sign {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  margin-left: 50px;
  width: 120px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #cd6326;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.survival {
  position: absolute;
  width: 274px;
  height: 340px;
  left: 120px;
  top: 199px;
}
.survival span {
  position: absolute;
  width: 199px;
  height: 72px;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}
.text-survival {
  position: absolute;
  width: 274px;
  height: 108px;
  top: 123px;
  word-wrap: break-word;
}
.text-survival p {
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.donate {
  position: absolute;
  width: 160px;
  height: 60px;
  top: 280px;
  border: none;
  background: #cd6326;
  border-radius: 5px;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  cursor: pointer;
}
.main {
  position: absolute;
  width: 1440px;
  height: 1368px;
  left: 0px;
  top: 780px;
}
.rectangle-main {
  position: absolute;
  width: 1440px;
  height: 1368px;
  left: 0px;
  top: 0px;
  background: #cccccc;
  border-radius: 0px;
}
.latest-articles {
  position: absolute;
  width: 324px;
  height: 72px;
  left: 558px;
  top: 120px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}
.p-latest-articles {
  position: absolute;
  width: 332px;
  height: 36px;
  left: 554px;
  top: 212px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}
.imgs {
  position: absolute;
  display: flex;
  align-items: center;
  width: 1200px;
  height: 360px;
  left: 120px;
  top: 368px;
}
.vector-lr {
  width: 30px;
  height: 70px;
  top: 115px;
  margin-right: 60px;
}
.vector-left {
  background: url(assets/Vector-left.svg) no-repeat center;
}
.vector-right {
  background: url(assets/Vector-right.svg) no-repeat center;
  margin-right: 0px;
}

.img-all {
  width: 300px;
  height: 360px;
  margin-right: 60px;
}
.img1 {
  background: url(assets/1.jpg) no-repeat center;
}
.img2 {
  background: url(assets/2.jpg) no-repeat center;
}
.img3 {
  background: url(assets/3.jpg) no-repeat center;
}
.imgs h4,
.imgs h5 {
  position: relative;
  text-align: center;
  color: #f7f7f7;
}
.imgs h4 {
  width: 52px;
  height: 36px;
  left: 124px;
  top: 252px;
  font-size: 22px;
  line-height: 36px;
}
.imgs h5 {
  width: 186px;
  height: 27px;
  left: 57px;
  top: 265px;
  font-size: 17px;
}
.get-notified-h3 {
  position: absolute;
  width: 526px;
  height: 41px;
  left: 457px;
  top: 967px;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}
.get-notified-form {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 60px;
  top: 1068px;
  left: 389px;
  border: none;
}
.email {
  width: 540px;
  height: 60px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #666666;
  border-right: none;
  font-size: 23px;
  line-height: 27px;
  border-radius: 2%;
}
.button-send {
  width: 120px;
  height: 62px;
  left: 930px;
  top: 1068px;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  cursor: pointer;
}
.footer {
  position: absolute;
  width: 1440px;
  height: 359px;
  left: 0px;
  top: 2148px;
}
.rectangle-footer {
  position: absolute;
  width: 1440px;
  height: 360px;
  left: 0px;
  top: 0px;
  background: url(assets/footer.jpg);
}
.footer-logo {
  position: absolute;
  width: 70px;
  height: 60px;
  left: 120px;
  top: 150px;
}
.logo2 {
  position: absolute;
  width: 155px;
  height: 60px;
  left: 205px;
  top: 150px;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}
.inf-footer {
  display: flex;
  position: absolute;
  width: 600px;
  height: 60px;
  left: 480px;
  top: 150px;
  padding-right: 0px;
}

.inf-footer ul li {
  display: inline;
  list-style-type: none;
  margin-right: 85px;
}

.sites {
  position: absolute;
  width: 242px;
  height: 40px;
  left: 1080px;
  top: 160px;
}
.sites ul {
  width: 300px;
  height: 40px;
}
.sites ul li {
  display: inline;
  list-style-type: none;
  margin-right: 67px;
}
.frame-all {
  position: absolute;
  width: 40px;
  height: 40px;
}
.frame1 {
  background: url(assets/Frame1.svg) no-repeat;
}
.frame2 {
  background: url(assets/Frame2.svg) no-repeat;
}
.frame3 {
  background: url(assets/Frame3.svg) no-repeat;
}
.frame4 {
  background: url(assets/Frame4.svg) no-repeat;
}
li a:hover {
  color: #cd6326;
  transform: scale(1.1);
}
li a:active {
  color: #ff5e00;
  transform: scale(0.9);
}
.button-send:hover {
  background: rgb(214, 144, 87);
}
button:hover {
  background: rgb(214, 144, 87);
}
button:active {
  background: red;
}
.button-send:active {
  background: red;
}
.vector-left:hover {
  transform: scale(1.1);
}
.vector-right:hover {
  transform: scale(1.1);
}
.vector-right:active {
  transform: scale(0.9);
}
.vector-left:active {
  transform: scale(0.9);
}

